.center{
    padding: 2em;
}
.underline {
    text-decoration: underline;
    /* border-bottom: 2px solid #0d6efd; */
  }

.color{
    background-color: #2577f1;
}

.rounded {
    border-radius: 0.3rem ;
  }

.grayscale { 
    filter: invert(); 
}

background-color{
    color: #f6f9fe;
}

.align{
    text-align: justify;
}

.bar {
    border: 4px solid #0d6efd;
    width: 25%;
    /* height: 30px; */
    border-bottom: none;
    /* position: fixed; */
    background: transparent;
    top: 0px;
    left: 0px;
  }